 @import url('https://fonts.googleapis.com/css2?family=Arvo&family=Caramel&family=EB+Garamond&family=Fira+Sans:ital,wght@1,100;1,200&family=Mulish:wght@200&family=Sevillana&family=Shadows+Into+Light&display=swap'); 
#a1{ 
    height: 500px;
    
 }

 .form-control {
     border:none;
 }
 .btnsum{
   color: rgb(255, 255, 255);
   background-color: rgb(89, 26, 148);
   
 }
 .btnpri{
   border-radius: 10px;
   background-color:rgb(89, 26, 148) ;
   color: rgb(255, 255, 255);
 }
 #bb1{
   height: 50px;
   
   border-radius: 50px;
   background-color:  rgb(89, 26, 148) ;
   color: rgb(255, 255, 255);
 }
 #bb2{
   height: 50px;
   width: 150px;
   text-align: center;
   border-radius: 70px;
   background-color:  rgb(89, 26, 148) ;
   color: rgb(255, 255, 255);
 }
#clr2{
        color: rgb(89, 26, 148) ;
        

}
#clr1{
    color:  rgb(166, 139, 192);
   
}
#clr3{
    font-family: 'Mulish', sans-serif;
        font-weight: 200;
        font: 3em ;

}
#im1{
    height: 300px;
    width: 550px;
   
    
} 
.ww1{
    background-color: white;
   height: 400px;
    width: 1100px;
    margin-top: 50px;
    margin-left: 100px;
    font-family: 'Mulish', sans-serif;
    


}
#vi1{
    color:rgb(89, 26, 148) ;
}
